@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes: the-way --default;
}
@plugin "daisyui/theme" {
  name: "the-way";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(71% 0.143 215.221);
  --color-primary-content: oklch(97% 0 0);
  --color-secondary: oklch(75% 0.183 55.934);
  --color-secondary-content: oklch(96% 0.001 286.375);
  --color-accent: oklch(55% 0 0);
  --color-accent-content: oklch(98% 0.016 73.684);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}


@theme {
    --font-script: "Alex Brush", cursive;

    --animate-fadeIn: fadeIn 2s ease-in forwards;
    --animate-slideInRight: slideInFromRight 1.5s ease-in forwards;
    --animate-slideInLeft: slideInFromLeft 1.5s ease-in forwards;

   @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes slideInFromLeft {
        from {
            transform: translateX(-10%);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slideInFromRight {
        from {
            transform: translateX(10%);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
}